.custom-popover {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  z-index: 9999;
}

.custom-popover ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-popover li {
  display: inline-block;
  margin: 5px;
}

.custom-popover button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}


.global-color-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.global-color-list ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.global-color-list li {
  margin: 0;
}

.global-color-btn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
}

.global-color-btn:hover {
  border: 2px solid #000;
}